.App {
  align-items: center;
  position: relative;
  text-align: center;
 
  
}

.App-header {

}

.cidades {
  display: flex;
  justify-content: center;
  width: 100%;
  
}

input {
  position: relative;
  height: 2.5rem;
  width: 27rem;
  font-size: 1.4rem;
  margin-bottom: 40px;
  text-decoration-color: blue;
}

ul {
  list-style: none;
  padding-left: 0;
  padding-right: 2rem;
}

li {
  font-weight: bold;
  padding-bottom: 1rem;
}

body{
  align-items: center;
  background-color: rgb(255, 168, 0);
}

h1, h2 {
  color: white;
}

h1 {
  font-size: 3.7rem;
}

h2 {
  position: relative;
  font-size: 1.80rem;
  
}

.some {
  position: relative;
  font-size: 1.80rem;
  color: rgba(245, 245, 220, 0);
  
}

.capitais::before {
  content: "";
  border-top-color: rgba(255, 255, 255, 0.548);
  border-top-style: solid;
  width: 550px;
  height: 0.1px;
  align-items: center;
  margin: 0 auto;
  
  
}

.capitais {
  display: flex;
  flex-direction: column;
  
}

.dados {
  text-align: justify;
  padding: 0;
 
 
}

p {
  color: rgb(171, 113, 12);
  padding: 0;
  text-align: left;
  margin: 0;
}

main {
}

footer {
  color: rgba(236, 2, 2, 0.527);
  font-weight: bold;
}

