.App {
  align-items: center;
  position: relative;
  text-align: center;
 
  
}


.cidades {
  display: flex;
  justify-content: center;
  width: 100%;
  
}

input {
  position: relative;
  height: 2.5rem;
  width: 27rem;
  font-size: 1.4rem;
  margin-bottom: 40px;
  margin-top: 10px;
  
}

.button {
  padding: 0.7rem;
  cursor: pointer;
  background-color: white;
  transition: 0.3s;
}

ul {
  list-style: none;
  padding-left: 0;
  padding-right: 2rem;
}

li {
  font-weight: bold;
  padding-bottom: 1rem;
}

body{
  align-items: center;
  background-color: rgb(255, 168, 0);
}

h1, h2 {
  color: white;
}

h1 {
  font-size: 3.7rem;
}

  h2.title {
    color: rgba(0, 0, 0, 0.575);
  }

h2 {

  text-align: start;
  font-size: 1.80rem;
  
}

/* header::after {
  content: "";
  border-top-color: rgba(255, 255, 255, 0.548);
  border-top-style: solid;
  width: 500px;
  height: 0.1px;
  align-items: center;
  display: block;
  margin: 0 auto;
  
  
} */

.capitais {
  max-height: 100%;
  max-width: 400px;
  margin: 0 auto;
  align-items: flex-start;
  flex-direction: column;
  
}

.dados {
  text-align: justify;
  padding: 0;
 
 
}

p {
  color: rgb(171, 113, 12);
  padding: 0;
  text-align: left;
  margin: 0;
}

main {
}

footer {
  color: rgba(236, 2, 2, 0.527);
  font-weight: bold;
}

hr {
  width: 500px;
  background-color: white;
  margin-bottom: 0;
  margin-top: 0;
}

.card {
  max-width: 500px;
  background-color: rgba(255, 255, 255, 0.781);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 15px;
}

.containerVento {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.weekdays {
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  justify-items: center;
}