.App {
  align-items: center;
  position: relative;
  text-align: center;
 
  
}

.App-header {

}

.cidades {
  display: flex;
  justify-content: center;
  width: 100%;
  
}

input {
  position: relative;
  height: 2rem;
  width: 25rem;
  font-size: 1.4rem;
}

ul {
  list-style: none;
  padding-left: 0;
  padding-right: 2rem;
}

li {
  font-weight: bold;
  padding-bottom: 1rem;
}

body{
  align-items: center;
  background-color: rgb(255, 168, 0);
}

h1, h2 {
  color: white;
}

h1 {
  font-size: 3.7rem;
}

h2 {
  position: relative;
  font-size: 1.80rem;
  
}

h2::before {
  content: "";
  border-top-color: white;
  border-top-style: solid;
  width: 500px;
  height: 0.1px;
  background: rgb(235, 235, 235);
  display: block;
  margin: 0 auto;
  
  
}

.capitais {
  display: flex;
  flex-direction: column;
  
}

.dados {
  text-align: left;
  padding: 0;
 
 
}

p {
  color: rgb(171, 113, 12);
  padding: 0;
  text-align: left;
  margin: 0;
}

main {
}

footer {
  color: rgba(236, 2, 2, 0.527);
  font-weight: bold;
}

